doctype html
html
 include ./includes/head.jade
 body
  include ./includes/hero-image.jade
  include ./includes/section.jade
  include ./includes/about.jade
  include ./includes/team.jade
  include ./includes/form.jade
  include ./includes/footer.jade
  script(src="../vendor/javascripts/bootstrap.js")
