section
 div.container
  h2 Services
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur.
  div.row
   include ../base/mixins/mixins.jade
   +list
    +link(class="fa fa-shopping-car")
    +article('Ecommerce', " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sequi adipisci, accusamus voluptates harum vel esse obcaecati quos quae amet!")
   +list
    +link(class="fa fa-laptop")
    +article('Responsive Design', " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo explicabo veniam obcaecati id, deleniti. Dolore amet eveniet fugiat neque doloribus.")
   +list
    +link(class="fa fa-lock")
    +article('Web Security', " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsam atque vero, unde ipsa, consequatur ipsum ducimus tenetur deserunt nam!")