include ../base/mixins/mixins.jade
section
 div.container
  h2 Services
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur.
  div.row
   +list('E Commerce', ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias fugiat fugit in veritatis obcaecati ab, cum ducimus, eius sunt. Laudantium!')
    +link(class="fa fa-lock fa-3x")

   +list('Responsive Design',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus eveniet, modi nisi iste accusamus aspernatur provident? Accusantium alias, praesentium?')
    +link(class="fa fa-laptop  fa-3x")

   +list('Web Security',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus eveniet, modi nisi iste accusamus aspernatur provident? Accusantium alias, praesentium?')
    +link(class="fa fa-lock  fa-3x")

  div.row
   h2 Portfolio
   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, maxime.
   +list
    +image('img/portfolio/roundicons.png')(class="portfolio")
    +h4('Round icons', 'Graphic Design')
   +list
    +image('img/portfolio/startup-framework.png')(class="portfolio")
    +h4('Startup Framework', 'Website Design')
   +list
    +image('img/portfolio/roundicons.png')(class="portfolio")
    +h4('Treehouse', 'Website Design')
   +list
    +image('img/portfolio/roundicons.png')(class="portfolio")
    +h4('Round icons', 'Graphic Design')
   +list
    +image('img/portfolio/startup-framework.png')(class="portfolio")
    +h4('Startup Framework', 'Website Design')
   +list
    +image('img/portfolio/roundicons.png')(class="portfolio")
    +h4('Treehouse', 'Website Design')