section
 h2 OUR AMAZING TEAM
 span.parrafo  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
 .container
  .row
   +team('team1', 'Kay Garland', 'Lead Designer')
   +team('team2', 'Larry Parker', 'Lead Marketer')
   +team('team3', 'Diana Pertesen', 'Lead Designer')
   p= loremipsum
  .row
   +col-3
    +image("img/logos/envato.jpg", '')(class="")
   +col-3
    +image("img/logos/designmodo.jpg", '')(class="")
   +col-3
    +image("img/logos/themeforest.jpg", '')(class="")
   +col-3
    +image("img/logos/creative-market.jpg", '')(class="")